@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input_text {
    border: 2px solid #bbbbbb;
    border-radius: 6px;
    padding: 0.6rem;
  }
  .linkbtn {
    border-bottom: 2px solid #bbbbbb;
  }
  .btn-green {
    background-color: #68edc6;
    padding: 10px;
    border-radius: 6px;
  }
  .btn-green:hover {
    background-color: #5acfac;
  }
}

:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
